img {
	width: 70px;
	height: 70px;
}
header {
	background-color: burlywood;
}
header p{
	background-color: white;
	color: blue
}
header h1{
	background-color: white;
}

main {
	background: #f7ec7fff
	
}

footer p{
	background-color: white;
	color:blue
}

h1 img {
	width: 150px;
	height: 150px;
}

p img {
	width: 100px;
	height: 100px;
}

footer {
	background-color: tan;
	color:white
}

body, main, footer {
	font-family: 'Arial'
}