img {
	width: 70px;
	height: 70px;
}
header {
	background-color: burlywood;
}

h1 img {
	width: 150px;
	height: 150px;
}

p img {
	width: 100px;
	height: 100px;
}

footer {
	background-color: tan;
	color:white
}

body, main, footer {
	font-family: 'Arial'
}